body {
  background-color: #ffeeff;
}

.flex {
  display: flex;
  justify-content: center;
}
.flex > h2 {
  margin: 1%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.icon_camera {
  height: 300px;
  width: 300px;
}
